
/History
/globalStorage
/workspaceStorage
/sync/globalState
sync/extensions/lastSyncextensions.json
sync/globalState/lastSyncglobalState.json
sync/keybindings/lastSynckeybindings.json
/sync/extensions/lastSyncextensions.json
/sync/globalState/lastSyncglobalState.json